.modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 40%;
    width: 40%;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -20%;
    border-radius: 15px;
    border: solid 2px black;
    box-shadow: 10px 5px 5px gray;
    transition-timing-function: ease;
}

.modal-header {
    color: green
}

.modal-cancel {
    color: #aaaaaa;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    right: 7px;
    top: 0;
}

.non-button-btn {
    justify-content: center;
    background: none;
}

.non-button-btn:hover{
    background-color: red;
    color: black;
}